* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    background-image: url(/1.png);
    background-repeat: no-repeat;
    background-size: contain;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #555;
    margin: 20px 0;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #333;
}

.busca {
    display: flex;
    width: 300px;
}
.busca #searchInput {
    flex: 1;
    padding: 10px;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
    border: 0;
}

.busca #searchInput:not(:placeholder-shown) {
    background-color: #333;
    border: 1px dotted #555;
    color: white;
}

#searchInput:placeholder-shown {
    background-color: #333;

}

.busca button {
    padding: 10px;
    font-size: 15px;
    border: 0;
    background-color: #555;
    color: #FFF;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}
.busca button:hover {
    background-color: #444;
}

.resultado {
    width: 300px;
    display: none;
    border: 1px dotted #FFF;
    margin-top: 20px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.918);
}

.titulo {
    width: 100%;
    color: #FFF;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 20px 20px 10px 20px;
}

.coord{
    text-align: center;
    color: #FFF;
    margin-bottom: 20px;
    font-size: 10px;
    letter-spacing: 1px;
}

.info {
    display: flex;
    width: 100%;
}
.info .temp {
    flex: 1;
    text-align: center;
}
.info .vento {
    flex: 1;
    text-align: center;
}
.tempTitulo,
.ventoTitulo {
    color: #777;
    font-size: 16px;
    margin-bottom: 5px;
}
.tempInfo,
.ventoInfo {
    color: #FFF;
    font-size: 30px;
    font-weight: bold;
}
.tempInfo sup {
    font-size: 15px;
    font-weight: normal;
}

.min-max{
    margin-top: 5px;
}

.other{
    display: flex;
    flex-direction: column;
    color: #777;
    font-size: 10px;
}

#desc{
    padding: 0;
    color: #777;
    font-size: 13px;
    margin-bottom: 20px;
    margin-top: 0;
}

.ventoInfo span {
    font-size: 15px;
    font-weight: normal;
}
.ventoArea {
    width: 50px;
    height: 50px;
    border: 1px solid #FFF;
    border-radius: 50%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 25px;
    padding-top: 25px;
}
.ventoPonto {
    width: 15px;
    height: 1px;
    background-color: #FFF;
    transform-origin: left;
}

.otherAr{
    margin-top: 20px;
    color: #777;
    font-size: 11px;
}
.visibility{
    padding-top: 10px;
}
.aviso {
    color: #444;
    font-weight: bold;
    padding-top: 20px;
    text-shadow: 1px 1px 1px white;
}

footer {
    margin-top: 20px;
    color: #555;
    font-weight: bold;
    font-size: 13px;
    text-shadow: 1px 1px 1px white;
}